.options{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 40px;
}

.btn{
    border: none;
    margin-bottom: 10px;
    margin-top: 50px; 
}

.btnDelete{
    background-color: var(--secondary-color);
    color: var(--lighty);
    padding: 5px;
    border: none;
    margin-top: 50px;
    margin-bottom: 10px;
}

.container{
    background-color: var(--secondary-color); 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 5px;
}

.photoInfos{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.photo{   
    width: 20%;
    border-radius: 5px;
}

.titreSerie{
    color: var(--third-color);
    font-size: 20px;
    padding-left: 3%;
}

.titreEpisode{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 3%;
}

.resume{
    padding-left: 3%;
}