.boutons{
    display: flex;
    flex-direction: row;
}

.btn{
    margin-top: 50px;
    margin-left: 50px;
}

.btnDelete{
    background-color: var(--secondary-color);
    color: var(--lighty);
    padding: 5px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 5px;
}

h1{
    padding-top: 30px;
    margin-bottom: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--secondary-color); 
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}

.formInfos, .formSeries{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--lighty);
    border-radius: 5px;
    margin: 30px;
}

.infos{
    width: 50%;
    padding-top: 30px;
}

.infos input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.bouton, h1{
    display: flex;
    justify-content: center; 
    background-color: var(--secondary-color); 
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}

.titreSeries{
    font-size: 20px;
    font-weight: bold;
}
.all-checkboxes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn-Secondary{
    margin-bottom: 10px;
    border: 1px solid var(--lighty);
    width: 70px;
}