<form method="post" action="{{ path('episode_delete', {'id': episode.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer l\'épisode?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
    <button class="btnDelete">Supprimer l'épisode</button>
</form>
