<form method="post" action="{{ path('season_delete', {'id': season.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer la saison?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
    <button class="btnDelete">Supprimer la saison</button>
</form>
