{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/variables.css">
    <link rel="stylesheet" href="/assets/css/saison/form.css">
{% endblock %}

{% block body %}
    <button class="btn"><a href="{{ path('program_index') }}">Retour à la liste les séries</a></button>
    <h1>Nouvelle saison</h1>

    {{ include('season/_form.html.twig', {'button_label': 'Ajouter'}) }}

{% endblock %}
