{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/variables.css">
    <link rel="stylesheet" href="/assets/css/program/form.css">
{% endblock %}

{% block body %}

<button class="btn"><a href="{{ path('program_index') }}"> Retour à la liste des séries</a></button>

<h1>Nouvelle série</h1>

{{ include('program/_form.html.twig', {'button_label': 'Ajouter'}) }}

{% endblock %}