{% extends 'base.html.twig' %}

{% block title %}Edit Actor{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/variables.css">
    <link rel="stylesheet" href="/assets/css/acteur/form.css">
{% endblock %}

{% block body %}

    <div class="boutons">
        <button class="btn"><a href="{{ path('program_index') }}"> Retour à la liste des séries</a></button>
        {{ include('actor/_delete_form.html.twig') }}
    </div>

    <h1>Modifier l'acteur</h1>

    {{ include('actor/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
