:root {
    --main-color:#060817;
    --secondary-color:#191E3B;
    --lighty:#C3C8DB;
    --third-color:#62B2BD;
    background-color: var(--main-color);
    color: var(--lighty);
}

a{
    text-decoration: none;
    color: var(--lighty);
}



/* header*/

.header{
    background-color: var(--main-color);
    color: var(--lighty);
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    height: 90px;
}

.accueilRecherche{
    display: flex;
    justify-content: flex-start;
    align-items: center;   
    width: 30%;
    font-size: 20px;
}

#rechercheContainer{
    padding-left: 50px;
}

#formBarreDeRecherche{
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    height: 35px;
    width: 200px;
}

#iconeRechercher{
    background-color: var(--secondary-color);
    color: var(--lighty);
    border: none;
    padding-left: 5px;
}


#inputRecherche{
    background-color: var(--main-color);
    color: var(--lighty);
    border: none;
    padding-left: 10px;

}

.wildSeries{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 40px;
    color: var(--third-color);
}

#titreWildSeries {
    color: var(--third-color);
}

.connexion{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    font-size: 20px;
}

#seConnecter{
    padding-right: 50px;
}


/*page d'accueil */

#containerLiens{
    background-color: var(--secondary-color);
    justify-content: space-around;
    display: flex;
    flex-direction: row;  
    margin: 50px;
    border-radius: 5px;
    font-size: 20px;
}

#lienSeries, #lienGenres{
    width: 49%;
    text-align: center;

}


#containerPageAccueil{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;  
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}

.derniersAjouts{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#tousLesprograms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    
}

.program{
    width: 31%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.photoInfo{
    display: flex;
    flex-direction: row;
}

.photo{
    width: 65%;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.infos{
    padding-left: 10px;
}

.infos span{
    font-weight: bold;
    font-size: 20px;
    color: var(--third-color)
}

.resume{
    margin-top: 10px;
}
